body {
    font-family: sans-serif;
}

h1 {
  font-weight: bold;

}
.parastyle
{
  font-size: 20px,
  font-color: #302e2f;
  margin: 30px;
  padding-left: 10px;
}
/*to place image in the center*/
#img1 {
  display: block;
  margin: 0 auto;

}

h1,table{
text-align: center;
}
table , .cell{
border: 3px solid blue;
margin: 10px;
padding: 10px;

}
/*to place table at center*/
.breakfasttable
{
 margin: 0 auto;
}
.highlight
{
font-variant: small-caps;
color: red;
}
/*media */
@media (min-width : 500px) {

  body {
    background-color: #f2d8e4;
  }

}
@media (max-width : 499px){
  body {
    background-color: #cedcf2;

  }
}
#dinnertable th,
#dinnertable td
{
  border: 3px solid black;
}



/*media and bootstrap*/
