$fontfamily: sans-serif;
$primarycolor: #f2d8e4;
body
{
    font-family:$fontfamily;
    background-color: $primarycolor;
    p
    {
      font-color :cyan;
    }
div
  {
    font-color :blue;
    }
}
